{% extends 'base.html' %}

{% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
{% endblock meta %}

{% block content %}
<div style="text-align: center;">
    <h1 style="background-color: #c3daff; color: #000000; padding: 20px; border-radius: 5px; font-family: 'Times New Roman', Times, serif;">Edit Product</h1>

    <form method="POST" style="max-width: 400px; margin: 0 auto; text-align: left; margin-top: 20px; font-family: 'Times New Roman', Times, serif;">
        {% csrf_token %}
        <table style="width: 100%;">
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Edit" style="background-color: #c3daff; color: #000000; cursor: pointer; padding: 10px 20px; border: none; border-radius: 5px; font-family: 'Times New Roman', Times, serif;">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
